/* 全体 */
html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: "Open Sans", "M PLUS 2", sans-serif;
    font-weight: 500;
    background-color: #fffaed;
}

h1 {
    font-size: 3.2rem;
    font-weight: 900;
}

small {
    font-size: 0.8em;
}

/* 全体 */

/* ヘッダー */
header {
    position: sticky;
    z-index: 99;
    top: 0;
    width: auto;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px -2.5px 5px 5px #000;
    font-size: 3.2rem;
    font-weight: 800;
}
header a{
    color: initial;
    text-decoration: initial;
}
header a:hover{
    color: initial;
}
header a:visited{
    color: initial;
}
header a:active{
    color: initial;
}

.header {
    display: flex;
    width: auto;
    height: 80px;
    align-items: center;
}
.logo {
    display: block;
    width: 30px;
    height: 100%;
    margin-left: 3%;
}
.logo > h1 {
    display: block;
    width: auto;
    height: 100%;
    text-align: center;
}
.logo img {
    height: 100%;
}

.header-link {
    margin-left: auto;
    margin-right: 3%;
}
.header-link > nav > ul > {
    height: 100%;
}
.header-link > nav > ul > li {
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 100%;
    padding: 10px 0;
    border-left: solid 1.5px #888;
    border-right: solid 1.5px #888;
    cursor: pointer;
}
.header-link > nav > ul > li:hover {
    background-color: #ffcb4f;
    transition: 0.3s;
}

.link-button {
    position: relative;
    width: 100%;
}
.dropdown-lists {
    position: absolute;
    left: -1px;
    visibility: hidden;
    width: 100%;
    margin-top: 0;
    opacity: 0;
    font-size: 1.8rem;
    font-weight: 900;
    background-color: #fff;
    box-shadow: 0 3px 3px #888;
    border-left: solid 1.5px #888;
    border-right: solid 1.5px #888;
    transition: 0.2s;
}
.header-link > nav > ul > li:hover > .dropdown-lists{
    visibility: visible;
    margin-top: 10px;
    opacity: 1;
    transition: 0.2s;
}
.dropdown-list {
    border-bottom: solid 1px #888;
}
.dropdown-list a{
    display: block;
    padding: 16px 0;
}
.dropdown-list:hover {
    transition: 0.3s;
}
.dropdown-list:hover a {
    color: #fff;
    transition: 0.3s;
}
.dropdown-list.Youtube:hover {
    background-color: #f00;
}
.dropdown-list.X:hover {
    background-color: #000;
}
.dropdown-list.CraftersColoney:hover {
    background-color: #7fce00;
}
/* ヘッダー */

/* フッター */
footer {
    background-color: #295ea4;
    color: #ccc;
    padding: 60px;
    padding-bottom: 30px;
}
.copylight {
    text-align: right;
}
/* フッター */

/* トップに戻る */
.page-top {
    position: fixed;
    right: 2.5%;
    bottom: 20%;
    display: none;
    width: 100px;
    height: 100px;

    filter: drop-shadow(0 0 5px #000);
}
.hex {
    position: relative;
    width: 100%;
    height: 100%;
    clip-path: polygon(
        50% 0,
        0 20%,
        0 80%,
        50% 100%,
        100% 80%,
        100% 20%,

        50% 0,
        50% 5%,
        95% 23%,
        95% 77%,
        50% 95%,
        50% 95%,
        5% 77%,
        5% 23%,
        50% 5%
    );
    background-color: #ffcb4f;
    opacity: 0.8;

    transition: 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}
.page-top:hover .hex {
    clip-path: polygon(
        50% 0,
        0 20%,
        0 80%,
        50% 100%,
        100% 80%,
        100% 20%,

        50% 0,
        50% 5%,
        95% 50%,
        60% 40%,
        60% 90%,
        40% 90%,
        40% 40%,
        5% 50%,
        50% 5%
    );
    opacity: 1;
    
    transition: 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}
/* トップに戻る */

/* スマホ */
.hamburger {
    display: none;
    position: absolute;
    width: 50px;
    height: 40px;
    right: 5%;
}
.hamburger-icon,.hamburger-icon::before,.hamburger-icon::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 8px;
    border-radius: 10px;
    background-color: #000;
    transition: 0.5s;
    top: 0;
}
.hamburger-icon::before {
    top: 16px;
}
.hamburger-icon::after {
    top: 32px;
}
@media screen and (max-width: 800px) {
    /* ヘッダー */
    header {
        font-size: 6.4rem;
    }
    header::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        display: block;
        height: 0dvh;
        background-color: rgba(255, 255, 255, 0.9);
        transition: 0.2s;
    }
    header.open::after {
        height: 100dvh;
        transition: 0.2s;
    }
    .hamburger {
        display: block;
        z-index: 99;
        cursor: pointer;
    }
    .hamburger.open > .hamburger-icon,.hamburger-icon::before,.hamburger-icon::after{
        transition: 0.5s;
    }
    .hamburger.open > .hamburger-icon{
        top: 16px;
        transform: rotate(45deg);
    }
    .hamburger.open > .hamburger-icon::before{
        top: 0;
        transform: rotate(-90deg);
    }
    .hamburger.open > .hamburger-icon::after{
        top: 0;
    }
    .header-link {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        margin: 0 auto;
        transition: 0.1s;
    }
    .header-link.open {
        visibility: visible;
        opacity: 1;
        transition: 0.5s;
    }
    .header-link > nav > ul{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }
    .header-link > nav > ul > li{
        height: auto;
        border: none;
        padding: 0 20%;
        margin: 0 auto;
        margin-top: 20%;
    }
    .header-link > nav > ul > li:first-child{
        border-bottom: solid 1.5px #888;
        padding: 0 20%;
    }
    .dropdown-lists {
        visibility: unset;
        opacity: 1;
        margin-top: 0;
        box-shadow: none;
        border: none;
        background-color: transparent;
        font-size: 2.6rem;
    }
    .header-link > nav > ul > li:hover {
        background-color: initial;
    }
    .header-link > nav > ul > li:hover > .dropdown-lists {
        margin-top: 0;
    }
    .dropdown-list {
        border: none;
        text-align: left;
        padding-left: 10%;
        margin: 8% 0;
    }
    .dropdown-list.Youtube {
        border-left: solid 10px #f00;
    }
    .dropdown-list.X {
        border-left: solid 10px #000;
    }
    .dropdown-list.CraftersColoney {
        border-left: solid 10px #7fce00;
    }
    /* ヘッダー */
}
/* スマホ */
