html {
    font-size: 10px;
    scrollbar-width: none;
}
html::-webkit-scrollbar {
    display: none;
}

body {
    line-height: 1.5;
    font-family: "Open Sans", "M PLUS 2", sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 3.2rem;
    font-weight: 900;
}

/* メインビジュアル */
#mainvisual {
    border-bottom: solid 4rem #295ea4;
}

.mainvisual-flex {
    display: flex;
    background-color: #000;
}

.Youtube-contents {
    position: relative;
    width: 60vw;
    height: calc(100vh - 8rem);
}
.Youtube-contents-center {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Youtube-contents-center > iframe{
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    max-height: calc(100vh - 8rem);
}

.top-articles {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: calc(100vh - 8rem);
    background-color: #fff;
    border-radius: 1.6rem 0 0 0;
}

.top-articles > h1 {
    background-color: #ffcb4f;
    padding: 1.6rem 1.6rem;
    border-radius: 1.6rem 0 0 0;
}
.line {
    width: 100%;
    height: 0.5rem;
    background-color: #00be70;
    margin: 0 auto;
}

.article-area {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.articles {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5%;
    width: 100%;
    overflow-x: hidden;
}

.mainvisual.article {
    position: relative;
    margin: 1.6rem 1.6rem;
    font-size: 1.6rem;
}
.mainvisual.article::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 0;
    background-color: #ffcb4f;
    border-left: solid 0.5rem #295ea4;
    transition: 0.2s;
}
.mainvisual.article:hover::before {
    width: 100%;
    transition: 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.mainvisual.article.hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: translate(50%, 0);
}
.mainvisual.article:not(.hidden) {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s;
}

.mainvisual.article-link {
    display: block;
    padding: 0.5rem 0.5rem;
    text-decoration: initial;
    color: #000;
}

.mainvisual.tag-icon {
    position: absolute;
    left: 1rem;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
}
.mainvisual.tag-icon > img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    margin: auto;
}

.mainvisual.article-text {
    position: relative;
    z-index: 1;
    margin: 0.2rem 0.8rem;
    margin-left: 5.8rem;
    padding-bottom: 0.8rem;
}
.mainvisual.article-text > .date{
    margin-bottom: 0.4rem;
}
/* メインビジュアル */


/* 最新記事 */
#articles {
    padding: 10% 5%;
    background-color: #f6f6f6;
}
.section-title {
    text-align: center;
}
.section-title h1 {
    font-size: 4.8rem;
    display: inline;
}
.section-line {
    background-color: #ffcb4f;
    padding: 0.5rem 3.2rem;
}

.new-articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3.2rem;
}
.new-articles::after {
    content: '';
    display: block;
    width: 30%;
    height: 30rem;
}

.new-article.article {
    display: block;
    width: 30%;
    height: auto;
    font-size: 1.6rem;
    color: initial;
    text-decoration: none;
    padding-bottom: 1.6rem;
    margin: 3.2rem 0;
    background-color: #fff;
    box-shadow: 0 0 5px 0 #000;
    border-radius: 0 0 1.6rem 1.6rem;
    transition: 0.3s;
}
.new-article.article:hover {
    box-shadow: 0 0 10px 0 #000;
    transition: 0.3s;
}
.new-article.article:nth-of-type(-n + 2) {
    width: 45%;
    font-size: 2rem;
}

.tag-color {
    display: block;
    aspect-ratio: 16 / 9;
    width: 100%;
    position: relative;
}
.tag-color > img{
    display: block;
    height: 100%;
}
.new-article.article:hover {
    color: initial;
}

.new-article.date {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    text-align: left;
}
.new-article.tag {
    display: inline;
    position: absolute;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 0.3rem transparent;
    border-radius: 0.5rem;
    top: 0;
    margin: 0.5rem;
    text-align: left;
    font-weight: 900;
}
.new-article.title {
    margin: 0 0.5rem;
    margin-top: 0.8rem;
    font-size: 1.2em;
    font-weight: 500;
    text-align: justify;
}
/* 最新記事 */


/* スマホ */
@media screen and (max-width: 800px) {
    /* メインビジュアル */
    .mainvisual-flex {
        flex-direction: column;
    }
    .Youtube-contents {
        width: 100svw;
        /* 4rem + 4rem = 8rem */
        height: calc(40vh - 4rem);
    }
    .Youtube-contents-center {
        width: auto;
        height: 100%;
    }
    .Youtube-contents-center > iframe{
        width: auto;
        height: 100%;
        max-width: 100svw;
    }
    .top-articles {
        width: 100dvw;
        height: calc(60svh - 4rem);
        border-radius: 1.6rem 1.6rem 0 0;
    }
    /* メインビジュアル */

    /* 最新記事 */
    .new-article.article {
        width: 45%;
    }
    .new-article.article:first-of-type {
        width: 100%;
    }
    .new-article.article:nth-of-type(2) {
        font-size: 1.6rem;
    }
    /* 最新記事 */
}
/* スマホ */
