:root {
    /* テキスト用の色 */
    --text-gray: #acacac;
}

/*---------- 本文 ----------*/
main {
    display: flex;
}

#blog {
    position: relative;
    width: calc(75vw - 20%);
    margin: 5%;
    margin-right: 2.5%;
    background-color: #fff;
    padding: 5%;
    font-size: 1.8rem;
}

#blog img {
    width: 100%;
    margin: 16px 0;
    margin-bottom: 0;
}

/* パンくずリスト */
.breadcrumbs {
    margin-bottom: 64px;
}
.breadcrumbs a,p{
    display: inline;
    margin-right: 8px;
    color: #000;
}
.breadcrumbs a:hover {
    color: var(--red);
}

/* タイトル */
main h1 {
    margin: 16px 0;
    border-bottom: solid 3px var(--yellow);
}

/* PR */
.pr {
    color: var(--red);
}

/* 日付とタグ */
.info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 日付 */
.date {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}
.date p{
    position: relative;
    display: inline-block;
    font-weight: 800;
    margin: 0 0;
    padding-left: 20px;
}
.date p::before {
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    top: 6px;
    left: 0;
}
.date .wrote {
    /* 書いた日（公開日） */
    color: var(--text-gray);
}
.date .wrote::before{
    background-image: url('/blog/img/clock.svg');
}
.date .update {
    /* 更新日 */
    color: #6a6a6a;
}
.date .update::before{
    background-image: url('/blog/img/clock2.svg');
}

/* タグ */
.tag {
    display: inline;
    margin: 16px 0;
    margin-right: 8px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--blue);
    color: #fff;
    font-weight: 900;
}

/* 目次 */
.toc {
    background-color: var(--gray);
    width: 50%;
    margin: 0 auto;
    margin-top: 64px;
    padding: 5%;
}
.toc ol {
    list-style: decimal;
    margin-left: 32px;
}
.toc a {
    text-decoration: none;
}

/* サイドバー */
#sidebar {
    position: relative;
    display: block;
    width: 25vw;
    margin-top: 5%;
    margin-right: 5%;
}
.toc.right {
    position: fixed;
    display: block;
    width: 19.2%;
    margin: 0;
    padding: 2.5%;
    background-color: #fff;
}

/* 見出し1 */
main h2 {
    font-size: 2.4rem;
    font-weight: 900;
    position: relative;
    background-color: var(--gray);
    margin: 16px 0;
    margin-top: 128px;
    padding: 8px 0;
    padding-left: 16px;
}
main h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    height: 100%;
    background-color: var(--yellow);
    top: 0;
    left: 0;
}

/* 本文 */
main p {
    display: block;
    margin: 64px 0;
    margin-bottom: 128px;
    font-weight: 400;
}
main a {
    color: var(--blue);
}
main a:hover {
    color: var(--red);
}
main b {
    font-weight: 900;
}
main u {
    position: relative;
    text-decoration: none;
    background: linear-gradient(transparent 75%, var(--yellow) 25%);
}
main s {
    color: var(--text-gray);
}
main s[data-s="0"] {
    color: var(--text-gray);
    text-decoration: none;
}

/*---------- 本文 ----------*/

/*---------- PRリンク ----------*/
.pr-link {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: var(--gray);
    margin-bottom: 32px;
}
.pr-img-wrap {
    display: block;
    width: 160px;
    height: 160px;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
}
.pr-img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.pr-text {
    position: relative;
    flex: 1;
    height: 100%;
    margin: 10px;
}
.pr-link-text {
    display: block;
    position: absolute;
    font-size: 16px;
    bottom: 16px;
    right: 0;
    color: #000;
}
/*---------- PRリンク ----------*/

/*---------- モーダル ----------*/
#modal {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 80px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98;
    opacity: 1;
    transition: 0.3s;
}
#modal.hidden {
    visibility: hidden;
    opacity: 0;
}
.modal-img {
    position: relative;
    display: block;
    width: 80%;
    height: 70%;
    margin: auto;
    top: 5%;
}
.modal-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.3s;
}
#modal a {
    display: block;
    position: relative;
    color: #fff;
    text-align: center;
    text-decoration: none;
    bottom: -10%;
    font-size: 24px;
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 0 10%;
    transition: 0.3s;
}
#modal a::after {
    content: '　';
    background-image: url('/blog/img/blank.svg');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 2px 6px;
}
#modal a:hover {
    background-color: rgba(250, 90, 90, 0.75);
}
/*---------- モーダル ----------*/


/*---------- スマホ ----------*/
@media screen and (max-width: 800px) {
    #blog {
        width: 100vw;
        margin: 50px 0;
    }

    .toc {
        width: auto;
    }

    #sidebar {
        display: none;
    }

    .modal-img {
        width: 100%;
        height: 60%;
    }
    #modal a {
        padding: 0 2%;
        font-size: 20px;
    }

    /*---------- PRリンク ----------*/
    .pr-link {
        flex-direction: column;
        height: 400px;
    }
    .pr-img-wrap {
        width: auto;
    }
    /*---------- PRリンク ----------*/
}
/*---------- スマホ ----------*/