/* https://www.colorsupplyyy.com/s/dOJx7KDwqp */

.breadcrumbs a,p{
    display: inline;
    margin-right: 8px;
}

#articles h1 {
    position: relative;
    margin: 32px 0;
    margin-bottom: 80px;
    margin-left: 16px;
}
#articles h1::before {
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    height: 32px;
    background-color: var(--yellow);
    left: -16px;
    top: 8px;
}

#articles {
    width: calc(75vw - 20%);
    margin: 5%;
    background-color: #fff;
    padding: 5%;
}

/* 並べ替え・絞り込み */
.sarch {
    position: relative;
    background-color: var(--gray);
    margin-bottom: 64px;
    padding-bottom: 35px;
    font-size: 2rem;
}
.sarch-title {
    display: block;
    font-size: 2.4rem;
    font-weight: 900;
    padding-left: 50px;
    background-color: var(--yellow);
    border-radius: 0 0 16px 0;
    cursor: pointer;
    user-select: none;
}
.sarch-title::-webkit-details-marker {
    display: none;
}
.sarch-title::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    display: block;
    width: 28px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.8);
}
/* 左のアイコン */
.sort-title::before {
    clip-path: polygon(
        0 10%,
        100% 10%,
        100% 25%,
        0 25%,

        0 42.5%,
        80% 42.5%,
        80% 57.5%,
        0 57.5%,

        0 75%,
        60% 75%,
        60% 90%,
        0 90%
    );
}
.filter-title::before {
    clip-path: polygon(
        0 0,
        0 10%,
        40% 50%,
        40% 90%,
        60% 100%,
        60% 50%,
        100% 10%,
        100% 0
    );
}
/* 下の矢印 */
.sarch-title::after {
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 15px;
    background-color: #000;
    left: 50%;
    clip-path: polygon(
        0 0,
        50% 100%,
        100% 0
    );
    transform: translate(-50%, 0) rotateX(0);
    bottom: 10px;
    transition: 0.3s;
}
.sarch-title.detail-open::after {
    transform: translate(-50%, 0) rotateX(180deg);
    transition: 0.3s;
}


.sarch-condition {
    margin: 15px 15px;
    padding-bottom: 15px;
}
.sarch-btns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sarch-btns li {
    padding: 5px 15px;
    margin: 15px 5px;
    background-color: #fff;
    border: solid 3px transparent;
    border-radius: 32px;
    cursor: pointer;
    user-select: none;
}
.sarch-btns li:hover {
    filter: brightness(80%);
}
.sarch-btns li:active {
    filter: brightness(100%);
}

.sort li {
    border-color: var(--green);
}
.filter li {
    border-color: var(--blue);
}
.filter li::before {
    content: '#';
}

.filter-all li {
    border-color: var(--yellow);
}
.filter-all li:active {
    background-color: var(--yellow);
}

.selected {
    color: #fff;
}
.sort .selected {
    background-color: var(--green);
}
.filter .selected {
    background-color: var(--blue);
}

/* 記事 */
.articles-area {
    width: 100%;
    margin: 100px 0;
    margin-top: 0;
}

.article {
    display: flex;
    height: 120px;
    padding: 10px;
    margin: 30px 0;
    background-color: var(--gray);
    color: #000;
    text-decoration: none;
}
.article:hover {
    background-color: var(--select);
}
.thumbnail {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 8px;
    aspect-ratio: 16 / 9;
    overflow: clip;
}
.thumbnail img{
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}
.article:hover img {
    display: block;
    height: 110%;
    transition: 0.3s;
}

.article-text {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 15px;
}
.article-tag {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 3px;
    border-left: solid 5px rgba(0, 0, 0, 0);
}
.article-date {
    position: absolute;
    right: 0;
    bottom: 0;
}
/* 記事 */

/* ページネーション */
.pagination {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 15%;
    margin-top: 100px;
    text-align: center;
}
.pagination li {
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 3px #000;
    cursor: pointer;
    user-select: none;
}
.pagination li:first-of-type::after,li:last-of-type::after {
    content: '';
    width: 40%;
    height: 40%;
    margin: auto;
    background-color: #000;
    clip-path: polygon(
        100% 0,
        0 50%,
        100% 100%
    );
}
.pagination li:last-of-type::after {
    rotate: 180deg;
}
.pagination li span {
    margin: auto;
}
.pagination .selected {
    color: #000;
    background-color: var(--yellow);
}
.pagination li:hover {
    filter: brightness(0.8);
}
.pagination .hidden {
    display: none;
}

/* ページネーション */

/* スマホ */
@media screen and (max-width: 800px) {
    #articles {
        width: calc(100vw - 20%);
    }
    .sarch {
        font-size: 1.6rem;
    }

    .article {
        flex-direction: column;
        height: auto;
        margin: 60px 0;
    }
    .thumbnail {
        height: auto;
        width: 100%;
    }
    .thumbnail img {
        height: auto;
        width: 100%;
    }
    .article:hover img {
        height: auto;
        width: 110%;
    }

    .article-text {
        margin: 0;
        padding-bottom: 32px;
    }

    .pagination {
        width: 100%;
        margin: 0;
    }
}
/* スマホ */
